@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#3C5ECF;
    --secondary:#309CC0

}
body{
    background-color: black;
     font-family: "Mulish", sans-serif;
     color: white;
     
}

#span-1{
    color:var(--primary)
}
#h2-1,#h2-2{
    text-align: center;
    font-size: 30px;

}
.input{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

#search{
      width: 500px;
    height: 35px;
    margin: 0;
    border-radius: 20px 0 0 20px ;
    padding: 0 0 2px 20px;
    font-size: 18px;

}
#search:focus{
    outline: none;
}
#search-btn{
    width: 55px;
    font-size: 18px;
    padding: 4px;
    border-radius: 0 20px 20px 0;
    margin: 0;
    background-color: rgb(233, 227, 227);

}

.div-1{
    margin-top:30px ;
}
.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.loading{
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #333;
    border-top: 5px dashed #fff;
    animation: spin 0.8s linear infinite;
}
.profile-img{
    width: 300px;
}
.user-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
   
}
.img{
    font-size: 28px;

}
.error{
    color: red;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#profile{
    position: relative;
/* top: 50px; */
/* left: 50px; */
padding: 20px;
}
#full-profile{
     width: 80%;
    background-color: #615e5e;
    margin: auto;
}
.img-profile{
    display: flex;
    gap: 40px;
}
.profile-details{
    font-size: 26px;


}
.view-profile{
    position: relative;
}
.view-profile a {
    color: white;
    font-size: 18px;
    font-weight: 400;

    text-decoration: none;
}
.icon{
    font-size: 14px;
    font-weight: 400;

}
.view-profile{
border: 1px solid rgb(122, 112, 112);
    color: white;
       position: absolute;
    left: 80%;
    top: 2%;
   width: 160px;
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: center;
    
}
.profile-repo-card{
    display: grid;
grid-template-columns: repeat(4,1fr);
border: 1px solid rgb(31, 28, 28);
width: 600px;
margin-left: 25%;
}
.profile-repo-card div{
     padding: 15px;
    text-align: center;
    border-right: 1px solid #777;

}
.profile-repo-card:last-child{
    border: none;
}
.profile-repo-card .icon{
    color: rgb(79, 238, 79);
    font-size: 22px;
}
.profile-repo-card .icon-star{
    color: yellow;
    font-size: 22px;

}